Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
LoadSchema.sdf
*.sdf
LoadSchema.opensdf
ipch/loadschema-76f93f9a/loadschema-a7de2ebd.ipch
ipch/loadschema-1938c187/loadschema-a7de2ebd.ipch
